
:root {
    --palepink: palevioletred;
  }

body{
    background-color: #f0cc90;
}

header {
    padding: 1.5rem;
    font-family: Garamond, Georgia, 'Times New Roman', serif;
    background-color: #B4F8C8;
}
.navbar-brand{
    font-size: 3rem ;
}
 .nav-link, .navbar-brand {
    color: var(--palepink);
 }
.nav-link{
    font-size: 1.5rem;
    margin: 1rem;
}
.AboutBg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-640x\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
}
.cardContainer {

}
.card-img-top {
object-fit: cover;
max-height: 40vh;
}

#skills .card {
    width: 25vw;
}