
/*make frequently used colours variables*/
:root {
    --palepink: rgb(255, 84, 141);
    --elementbgalmond: blanchedalmond;
  }

body{
    background-color: #f0cc90;
}

/*navbar styles*/ 
header {
    padding: 1.2rem;
    font-family: Garamond, Georgia, 'Times New Roman', serif;
    background-color:#94d8a9;
}
.navbar-brand{
    font-size: 3rem ;
}
 .nav-link, .navbar-brand {
    color: var(--palepink);
 }
.nav-link{
    font-size: 1.5rem;
    margin: 1rem;
    transition: box-shadow .3s;

}

/*JumboTron Style*/
.AboutBg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-640x\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--elementbgalmond);
}

/*work section style*/
#work .card-body{
    background-color: var(--elementbgalmond);
}
#work .btn {
    background-color: #478C5C;
    color: white;
    transition: box-shadow .3s;

}
.card-img-top {
object-fit: cover;
max-height: 40vh;
}

/*skill section style*/
#skills .card-header {
    background-color: #82c897;
}
#skills .list-group-item{
    background-color: var(--elementbgalmond);
}
#contact{
    display: flex;
    display: inline-flex;
    justify-content: space-between;
}
.fa-brands {
    color: #478C5C;
}

/*hover effects for links*/
.btn:hover {
    box-shadow: 5px 10px rgba(189, 75, 170, 0.2); 
}

.nav-link:hover{
    box-shadow: 5px 10px #478C5C; 
}

.fa-brands:hover{
    color: var(--palepink);
    box-shadow: 0 0 5px var(--palepink);
    text-shadow: 0 0 5px var(--palepink);
  }
